<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acceuil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acceuil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="text-center mt-5">
      <h3>Formini</h3>
    </div>
    <div class="text-center mt-3 mb-2">
      <h6>A propos de notre centre de formation</h6>
    </div>
    <div class="px-3 text-justify">{{ description }}</div>
    <div class="text-center mt-5 mb-3">
      <h3>Formations dispensées</h3>
    </div>
    <ion-router-link *ngFor="let c of courses" [href]="'/courses/' + c.slug">
      <ion-card>
        <img [src]="c.cover_url" />
        <ion-card-header>
          <ion-card-subtitle>{{ c.category }}</ion-card-subtitle>
          <ion-card-title>{{ c.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ c.description }}
        </ion-card-content>
      </ion-card>
    </ion-router-link>
  </div>

  <div class="my-3 text-center">Formini © 2021</div>
</ion-content>